

body {

    background-image: url("https://cdn-az.allevents.in/banners/8d74bf10-c844-11e8-81c9-1b431fd718bc-rimg-w526-h295-dcfff56e-gmir.jpg");
    background-size: 1500px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15pt;
   
  }
.jumbotron{
  text-align: center;
}
 
    
  